.bg-image-container {
    background-image: url('main_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 175px 0; 
  }

  .back_arrow{
    height: 20px;
  }

  .nav-link{
    color: #343A40
  }


  .card{
    width: 45rem;
  }